# Compiled class files
*.class

# Log files
*.log



# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar



# VS Code
.vscode/



# Ignore any build directories
target/
build/

# Ignore all except java source files
!*.java
